@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* box-shadow: 0 0 0 2px blue; */
  }
  ::selection {
    @apply bg-red-500 text-white;
  }
  h1 {
    @apply text-4xl font-semibold;
  }
  .btn_red {
    @apply text-sm bg-red-500 text-white py-3 rounded;
  }
  .btn_white {
    @apply text-sm bg-white text-black py-3 rounded border border-black/30 font-semibold;
  }
  input[type="number"] {
    @apply appearance-none [&::-webkit-outer-spin-button]:hidden [&::-webkit-inner-spin-button]:hidden;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar {
    width: 7px;
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #db4444;
    border-radius: 10px;
  }
}
